.room {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background: #F8F7F2;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#header {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.control-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
}

.control-buttons button {
  font-size: 16px;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
}
  
#clusterContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.local-avatar-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
