hearthspace-server/llama.cpp/
hearthspace-server/logs/
hearthspace-server/rooms/
hearthspace-server/stable-diffusion-webui/

pinehaven/

# Ignore node_modules directory
node_modules/

# Ignore build or dist directories
build/
dist/

# Ignore log files
*.log

# Ignore LLM model files (example pattern)
models/
*.bin
*.pt

*~

.DS_Store
